<div class="container">
  <h1>Blogs: <%= Blog.count %></h1>

  <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary mb-2" if current_user %>

  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Images</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.body.truncate(43) %></td>
          <td>
            <% if blog.has_image? %>
              <% blog.images.each do |image| %>
                <%= image_tag image, class: "w100 h100 img-cover rounded" %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Show', blog %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
