<div class="container">
  <h3><%= @blog.title %></h3>

  <p><%= pluralize(@blog.views, "view") %></p>
  <p><%= image_tag @blog.image, width: "400px" if @blog.has_image? %></p>
  <p><%= @blog.body %></p>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Delete',
    @blog,
    method: :delete,
    data: {
      confirm: "Press OK to delete blog: #{@blog.title}"
    }
  %> |
  <%= link_to 'Back', blogs_path %>
</div>
