<div class="container">
  <h3><%= @blog.title %></h3>
  <h6 class="mb-4 opacity-80">Blog by: <%= @blog.user.username %></h6>

  <p><%= pluralize(@blog.views, "view") %></p>
  <p>
  <% if @blog.has_image? %>
    <% @blog.images.each do |image| %>
      <%= image_tag image, class: "w200 h200 img-cover" %>
    <% end %>
  <% end %>
  </p>
  <p><%= @blog.body %></p>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Delete',
    @blog,
    method: :delete,
    data: {
      confirm: "Press OK to delete blog: #{@blog.title}"
    }
  %> |
  <%= link_to 'Back', blogs_path %>
</div>
