<div class="container">
  <h1>Posts: <%= Post.count %></h1>

  <%= link_to 'Create Post', new_post_path, class: "btn btn-primary mb-2" if current_user %>

  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Images</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body.truncate(43) %></td>
          <td>
            <% if post.has_image? %>
              <% post.images.each do |image| %>
                <%= image_tag image, class: "w100 h100 img-cover rounded" %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Show', post, class: "text-decor-none" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
