<div class="container">
  <h3 class="font-monospace mb-3 fw-bold"><%= @post.title %> <span class="align-middle text-muted fs-6 fw-normal">(<%= pluralize(@post.views, "view") %>)</span></h3>
  <blockquote class="blockquote-footer"><%= @post.user.username %></blockquote>

  <% if current_user == @post.user %>
    <%= link_to 'Delete',
      @post,
      method: :delete,
      data: {
        confirm: "Press OK to delete post: #{@post.title}"
      },
      class: "text-decor-none ms-2 float-end"
    %>

    <%= link_to 'Edit',
      edit_post_path(@post),
      class: "text-decor-none float-end"
    %>
  <% end %>

  <p>
    <% if @post.has_image? %>
      <% @post.images.each do |image| %>
        <%= image_tag image, class: "w200 h200 img-cover" %>
      <% end %>
    <% end %>
  </p>
  <p class="fs-5"><%= @post.body %></p>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Comments:</h5>
      <%= render "comments/form", post: @post, comment: @post.comments.build %>
      <p class="card-text"><%= render @post.comments.where(parent_id: nil).includes(:user).order(created_at: :desc) %></p>
    </div>
  </div>

  <%= link_to 'Back', posts_path, class: "text-decor-none mt-4 float-end" %>
</div>
